<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Так</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="column is-offset-3 is-3">
            <a href="{% url 'api_logout' %}">logout</a>
        </div>
        <div class="column is-offset-3 is-3">
            <a href="{% url 'login' %}">login</a>
        </div>
        <div class="column is-offset-3 is-3">
            <a href="{% url 'register' %}">login</a>
        </div>
    </section>

    <section class="hero">
        <div class="column is-offset-4 is-4">
            <p> superuser: kleikoks, kleikoks</p>
            <p> Api source: <a href="https://openweathermap.org/api">openweathermap</a></p>
            <p> The only page available: <a href="{% url 'weather' %}">Weather</a></p>
            <p> This looks sh*tty? ▬▬▬▬▬▬► <a href="https://bulma.io/documentation/">Bulma</a></p>
            <p> App does'nt work? Only 60 requests per hour(</p>
        </div>
    </section>


    <script type="text/javascript" src="/static/script.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>